*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}
.main{
    height: 100vh;
    min-width:90vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover ;
    pointer-events: none;
}

.phone{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.text{
    color: white;
    position: absolute;
    font-size: 150px;
    left: 250px;
}
.description{
    min-height: 500px;
    background-color: black;
   
}
.description--title{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.description--detail{
    color: white;
    font-size: 12px;
    text-align: center;
    margin: auto;
    max-width: 50vw;
    padding-top: 25px;
}