*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.main{
	display: flex;
	align-items: center;
	justify-content:center;
	height:100vh;
}

.form--holder{
	background-color: black;
	min-height: 200px;
	width:80vw;
	border-radius: 10px;
	padding: 40px 10px 10px 10px;
	position:relative;
}

.login--text{
	color:white;
	text-align: center;
}

.input{
	width:100%;
	margin: 10px 0px ;
	padding: 10px;
	
}

.button--section{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:20px;
}

.btn--login{
	background-color: blue;
	padding: 5px;
	min-width:20%;
	color:white;
	margin-right: 2px;
	border: none;
}

.btn--signup{
	background-color: orange;
	padding: 5px;
	min-width:20%;
	color:white;
	margin-right: 2px;
	border: none;
	
}

.logo{
	height:100px;
	width:100px;
	background-color: red;
	position: absolute;
	border-radius: 50px;
	top:-75px;
	left:calc(50% - 50px);
}